# Configuration file

"entity blacklist" {
    B:AWWayofTime.AirElemental=false
    B:AWWayofTime.BileDemon=false
    B:AWWayofTime.BoulderFist=false
    B:AWWayofTime.EarthElemental=false
    B:AWWayofTime.FallenAngel=false
    B:AWWayofTime.FireElemental=false
    B:AWWayofTime.HolyElemental=false
    B:AWWayofTime.IceDemon=false
    B:AWWayofTime.LowerGuardian=false
    B:AWWayofTime.MinorDemonGrunt=false
    B:AWWayofTime.MinorDemonGruntEarth=false
    B:AWWayofTime.MinorDemonGruntFire=false
    B:AWWayofTime.MinorDemonGruntGuardian=false
    B:AWWayofTime.MinorDemonGruntGuardianEarth=false
    B:AWWayofTime.MinorDemonGruntGuardianFire=false
    B:AWWayofTime.MinorDemonGruntGuardianIce=false
    B:AWWayofTime.MinorDemonGruntGuardianWind=false
    B:AWWayofTime.MinorDemonGruntIce=false
    B:AWWayofTime.MinorDemonGruntWind=false
    B:AWWayofTime.Shade=false
    B:AWWayofTime.ShadeElemental=false
    B:AWWayofTime.SmallEarthGolem=false
    B:AWWayofTime.WaterElemental=false
    B:AWWayofTime.WingedFireDemon=false
    B:Bat=false
    B:BiomesOPlenty.Bird=false
    B:BiomesOPlenty.Glob=false
    B:BiomesOPlenty.JungleSpider=false
    B:BiomesOPlenty.Phantom=false
    B:BiomesOPlenty.Pixie=false
    B:BiomesOPlenty.Rosester=false
    B:BiomesOPlenty.Wasp=false
    B:Blaze=false
    B:"Botania.botania:pixie"=false
    B:CaveSpider=false
    B:Chicken=false
    B:Cow=false
    B:Creeper=false
    B:Enderman=false
    B:EntityHorse=false
    B:GalacticraftCore.AlienVillager=false
    B:GalacticraftCore.Crawler=false
    B:GalacticraftCore.EvolvedBlaze=false
    B:GalacticraftCore.EvolvedColdBlaze=false
    B:GalacticraftCore.EvolvedCreeper=false
    B:GalacticraftCore.EvolvedEnderman=false
    B:GalacticraftCore.EvolvedFireCreeper=false
    B:GalacticraftCore.EvolvedFireSkeleton=false
    B:GalacticraftCore.EvolvedFireSpider=false
    B:GalacticraftCore.EvolvedSkeleton=false
    B:GalacticraftCore.EvolvedSpider=false
    B:GalacticraftCore.EvolvedZombie=false
    B:GalacticraftCore.Tentacles=false
    B:GalacticraftMars.Slimeling=false
    B:GalacticraftMars.Sludgeling=false
    B:Ghast=false
    B:Giant=false
    B:LavaSlime=false
    B:Mob=false
    B:Monster=false
    B:MorePlanet.Bearry=false
    B:MorePlanet.Berry=false
    B:MorePlanet.CheeseCow=false
    B:MorePlanet.CheeseSlime=false
    B:MorePlanet.CreamCat=false
    B:MorePlanet.CreamGolem=false
    B:MorePlanet.CreamSlime=false
    B:MorePlanet.DionaMinionCreeper=false
    B:MorePlanet.DustSludgeling=false
    B:MorePlanet.EuropaCrab=false
    B:MorePlanet.EuropaSquid=false
    B:MorePlanet.EvolvedEnderman=false
    B:MorePlanet.EvolvedWitch=false
    B:MorePlanet.FronosVillager=false
    B:MorePlanet.FrozenSludgeling=false
    B:MorePlanet.GiantWorm=false
    B:MorePlanet.Grappy=false
    B:MorePlanet.InfectedWorm=false
    B:MorePlanet.InfectedZombie=false
    B:MorePlanet.JellySlime=false
    B:MorePlanet.Kiwi=false
    B:MorePlanet.KoentusSludgeling=false
    B:MorePlanet.KoentusianVillager=false
    B:MorePlanet.LemonDuck=false
    B:MorePlanet.Marshmallow=false
    B:MorePlanet.Melon=false
    B:MorePlanet.MilkCow=false
    B:MorePlanet.PlutoAlien=false
    B:MorePlanet.SiriusBlaze=false
    B:MorePlanet.SiriusCreeper=false
    B:MorePlanet.SiriusMagmaCube=false
    B:MorePlanet.SpaceStarfish=false
    B:MorePlanet.SpaceWolf=false
    B:MorePlanet.StrawberryChicken=false
    B:MorePlanet.Tomato=false
    B:MorePlanet.VenusianBlaze=false
    B:MorePlanet.VenusianSlime=false
    B:MorePlanet.VenusianVillager=false
    B:MushroomCow=false
    B:NetherOres.netherOresHellfish=false
    B:Ozelot=false
    B:Pig=false
    B:PigZombie=false
    B:Sheep=false
    B:Silverfish=false
    B:Skeleton=false
    B:Slime=false
    B:SnowMan=false
    B:Spider=false
    B:Squid=false
    B:TConstruct.Crystal=false
    B:TConstruct.EdibleSlime=false
    B:Thaumcraft.BrainyZombie=false
    B:Thaumcraft.CultistCleric=false
    B:Thaumcraft.CultistKnight=false
    B:Thaumcraft.EldritchCrab=false
    B:Thaumcraft.EldritchGuardian=false
    B:Thaumcraft.Firebat=false
    B:Thaumcraft.GiantBrainyZombie=false
    B:Thaumcraft.Golem=false
    B:Thaumcraft.InhabitedZombie=false
    B:Thaumcraft.MindSpider=false
    B:Thaumcraft.Pech=false
    B:Thaumcraft.TaintSpider=false
    B:Thaumcraft.TaintSpore=false
    B:Thaumcraft.TaintSwarm=false
    B:Thaumcraft.TaintSwarmer=false
    B:Thaumcraft.Taintacle=false
    B:Thaumcraft.TaintacleTiny=false
    B:Thaumcraft.TaintedChicken=false
    B:Thaumcraft.TaintedCow=false
    B:Thaumcraft.TaintedCreeper=false
    B:Thaumcraft.TaintedPig=false
    B:Thaumcraft.TaintedSheep=false
    B:Thaumcraft.TaintedVillager=false
    B:Thaumcraft.ThaumSlime=false
    B:Thaumcraft.TravelingTrunk=false
    B:Thaumcraft.Wisp=false
    B:ThaumicExploration.TaintacleMinion=false
    B:ThaumicHorizons.ChocolateCow=false
    B:ThaumicHorizons.ChromaticSheep=false
    B:ThaumicHorizons.Endersteed=false
    B:ThaumicHorizons.Familiar=false
    B:ThaumicHorizons.GoldChicken=false
    B:ThaumicHorizons.GolemTH=false
    B:ThaumicHorizons.Gravekeeper=false
    B:ThaumicHorizons.GuardianPanther=false
    B:ThaumicHorizons.HorseSkeleton=false
    B:ThaumicHorizons.HorseZombie=false
    B:ThaumicHorizons.LostSoul=false
    B:ThaumicHorizons.LunarWolf=false
    B:ThaumicHorizons.MeatSlime=false
    B:ThaumicHorizons.MedSlime=false
    B:ThaumicHorizons.MercurialSlime=false
    B:ThaumicHorizons.NetherHound=false
    B:ThaumicHorizons.NightmareTH=false
    B:ThaumicHorizons.OrePig=false
    B:ThaumicHorizons.ScholarChicken=false
    B:ThaumicHorizons.Seawolf=false
    B:ThaumicHorizons.SelfShearingSheep=false
    B:ThaumicHorizons.Sheeder=false
    B:ThaumicHorizons.TaintEaterPig=false
    B:ThaumicHorizons.VoltSlime=false
    B:Villager=false
    B:VillagerGolem=false
    B:Witch=false
    B:"Wither Skeleton"=false
    B:Wolf=false
    B:Zombie=false
    B:arcticmobs.arix=false
    B:arcticmobs.frostweaver=false
    B:arcticmobs.reiver=false
    B:arcticmobs.serpix=false
    B:arcticmobs.wendigo=false
    B:arcticmobs.yeti=false
    B:arsmagica2.AirSled=false
    B:arsmagica2.BattleChicken=false
    B:arsmagica2.DaBroom=false
    B:arsmagica2.EarthElemental=false
    B:arsmagica2.Flicker=false
    B:arsmagica2.HellCow=false
    B:arsmagica2.MobDarkMage=false
    B:arsmagica2.MobDarkling=false
    B:arsmagica2.MobDryad=false
    B:arsmagica2.MobFireElemental=false
    B:arsmagica2.MobHecate=false
    B:arsmagica2.MobLightMage=false
    B:arsmagica2.MobMageVillager=false
    B:arsmagica2.MobManaCreeper=false
    B:arsmagica2.MobManaElemental=false
    B:arsmagica2.MobWaterElemental=false
    B:arsmagica2.RiftStorage=false
    B:arsmagica2.ShadowHelper=false
    B:arsmagica2.ThrownArm=false
    B:arsmagica2.ThrownRock=false
    B:arsmagica2.ThrownSickle=false
    B:arsmagica2.Whirlwind=false
    B:demonmobs.astaroth=false
    B:demonmobs.behemoth=false
    B:demonmobs.belph=false
    B:demonmobs.cacodemon=false
    B:demonmobs.nethersoul=false
    B:demonmobs.pinky=false
    B:demonmobs.trite=false
    B:desertmobs.clink=false
    B:desertmobs.crusk=false
    B:desertmobs.cryptzombie=false
    B:desertmobs.erepede=false
    B:desertmobs.gorgomite=false
    B:desertmobs.joust=false
    B:desertmobs.joustalpha=false
    B:desertmobs.manticore=false
    B:forestmobs.arisaur=false
    B:forestmobs.ent=false
    B:forestmobs.shambler=false
    B:forestmobs.spriggan=false
    B:forestmobs.trent=false
    B:forestmobs.warg=false
    B:freshwatermobs.jengu=false
    B:freshwatermobs.silex=false
    B:freshwatermobs.strider=false
    B:freshwatermobs.zephyr=false
    B:infernomobs.afrit=false
    B:infernomobs.cephignis=false
    B:infernomobs.cinder=false
    B:infernomobs.khalk=false
    B:infernomobs.lobber=false
    B:junglemobs.conba=false
    B:junglemobs.concapede=false
    B:junglemobs.concapedesegment=false
    B:junglemobs.geken=false
    B:junglemobs.tarantula=false
    B:junglemobs.uvaraptor=false
    B:junglemobs.vespid=false
    B:junglemobs.vespidqueen=false
    B:lycanitesmobs.fear=false
    B:mountainmobs.barghest=false
    B:mountainmobs.beholder=false
    B:mountainmobs.geonach=false
    B:mountainmobs.jabberwock=false
    B:mountainmobs.troll=false
    B:mountainmobs.yale=false
    B:plainsmobs.kobold=false
    B:plainsmobs.maka=false
    B:plainsmobs.makaalpha=false
    B:plainsmobs.roc=false
    B:plainsmobs.ventoraptor=false
    B:plainsmobs.zoataur=false
    B:saltwatermobs.abtu=false
    B:saltwatermobs.ika=false
    B:saltwatermobs.lacedon=false
    B:saltwatermobs.raiko=false
    B:saltwatermobs.skylus=false
    B:shadowmobs.chupacabra=false
    B:shadowmobs.epion=false
    B:shadowmobs.geist=false
    B:shadowmobs.grue=false
    B:shadowmobs.phantom=false
    B:shadowmobs.shade=false
    B:swampmobs.aspid=false
    B:swampmobs.dweller=false
    B:swampmobs.ettin=false
    B:swampmobs.eyewig=false
    B:swampmobs.ghoulzombie=false
    B:swampmobs.lurker=false
    B:swampmobs.remobra=false
    B:testdummy.Dummy=false
    B:witchery.attackbat=false
    B:witchery.banshee=false
    B:witchery.cat=false
    B:witchery.corpse=false
    B:witchery.covenwitch=false
    B:witchery.darkmark=false
    B:witchery.deathhorse=false
    B:witchery.demon=false
    B:witchery.ent=false
    B:witchery.eye=false
    B:witchery.familiar=false
    B:witchery.follower=false
    B:witchery.goblin=false
    B:witchery.hellhound=false
    B:witchery.illusionCreeper=false
    B:witchery.illusionSpider=false
    B:witchery.illusionZombie=false
    B:witchery.imp=false
    B:witchery.lostsoul=false
    B:witchery.louse=false
    B:witchery.mandrake=false
    B:witchery.mindrake=false
    B:witchery.mirrorface=false
    B:witchery.nightmare=false
    B:witchery.owl=false
    B:witchery.poltergeist=false
    B:witchery.spectre=false
    B:witchery.spirit=false
    B:witchery.toad=false
    B:witchery.treefyd=false
    B:witchery.vampire=false
    B:witchery.villageguard=false
    B:witchery.werevillager=false
    B:witchery.wingedmonkey=false
    B:witchery.witchhunter=false
    B:witchery.wolfman=false
}


